{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidebar-nav">

            </div>

            <div class="col-sm-8">
                <div class="bg-">
                    <h1>Kyle Clarkson</h1>
                </div>

                <div class="bg-1">
                    <h3>Hello there!</h3>
                    <h3>Welcome to my webpage</h3>
                </div>

                <div class="bg-2">
                    <h4>I'm trying to change the world</h4>
                    <p>
                        and hopefully for the better. I feel like I've gotten a good start on this.
                        From small, everyday interactions with strangers, friends, and family
                        to the time I've spent helping students with their maths and computer
                        science course. Yet there is a lot more to do.
                    </p>
                    <p>
                        That's why I'm a programmer
                    </p>
                </div>
            </div>

            <div class="col-sm-2 sidebar-nav">

            </div>
        </div>
    </div>
{% endblock %}
