{% extends 'base.html' %}

{% block content %}
<h1>Posts</h1>

<ul>
    {% for post in object_list %}
        <li>
            <a href="{% url 'article-detail' post.pk %}"> {# reference 'name' of url, with the pk of post to match <int:pk> #}
                {{ post.title }}</a> -
            {{ post.author.first_name }} {{ post.author.last_name }} -
            {{ post.created_date }} ---
            <a href="{% url 'update_post' post.pk %}">Edit</a> -
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        </li>
        {{ post.body }}
        <hr>
    {% endfor %}
</ul>
{% endblock %}

