{% extends 'base.html' %}

{% block title %}
    My invites
{% endblock %}

{% block content %}
    {% if is_empty %}
        <h1>No requests</h1>
    {% endif %}
    {% for obj in qs %}
        <div class="ui segments">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class="ui small circular image" src="{{ obj.avatar.url }}">
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{ obj.user }}</h3>
                        <p>{{ obj.bio }}</p>
                        <br>
                        <a href="">
                            <button class="ui primary button w-big mb-5">
                                See Profile
                            </button>
                        </a>
                        {# Accept invite #}
                        <form action="{% url 'profiles:accept-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value="{{ obj.pk }}">
                            <button class="ui positive basic button w-big mb-5">
                                <i class="check icon"></i>Accept
                            </button>
                        </form>
                        {# Reject invite #}
                        <form action="{% url 'profiles:reject-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value="{{ obj.pk }}">
                            <button class="ui negative basic button w-big mb-5">
                                <i class="close icon"></i>Decline
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <ul>
        {% for item in qs %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endblock %}