{% extends 'home\base.html' %}
{% load static %}
{% block styles %}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static "home/style.css" %}">
{% endblock %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Blog - Kyle Clarkson
    {% endif %}
{% endblock %}

{% block content %}

    <p>Hello, blog page. </p>

    <h1>Posts</h1>
    <br>

    {% for post in object_list %}
        <ul>
            {#  Post title #}
            <a href="{% url 'blog:blog-detail' post.pk %}">{{ post.title }}</a>
            <p>Written on: {{ post.date_created|date:"D d M Y"  }} </p>
            {% if post.date_created != post.date_modified %}
                <p>Last modified: {{ post.date_modified }}</p>
            {% endif %}
            <p>{{ post.snippet|safe }}</p>
            <hr>
        </ul>
    {% endfor %}

{% endblock %}
