{% extends 'home\base.html' %}
{% block content %}

    <p>Hello, blog page. </p>

    <h1>Posts</h1>
    <br>

    {% for post in object_list %}
        <ul>
            <h4>{{ post.title }} | created on: {{ post.date_created }}</h4>
            {% if post.date_created is not post.date_modified %}
                <h4>Last modified {{ post.last_modified }}</h4>
            {% endif %}
            <small>{{ post.snippet|safe }}</small> <br/>
            <small>{{ post.body|safe }}</small>
            <hr>
        </ul>
    {% endfor %}

{% endblock %}
